absl-py==0.13.0
addressable==1.4.2
altair==4.1.0
argon2-cffi==20.1.0
asgiref==3.4.1
astor==0.8.1
astroid==2.5
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
backports.zoneinfo==0.2.1
base58==2.1.0
bleach==4.0.0
blinker==1.4
bottle==0.12.19
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.6
chardet==3.0.4
click==8.0.1
colorama==0.4.4
coverage==5.4
debugpy==1.4.1
decorator==5.0.9
defusedxml==0.7.1
Django==3.1.8
django-appconf==1.0.4
django-autoslug==1.9.8
django-compressor==2.4
django-debug-toolbar==3.2
django-haystack==3.0
django-ipware==3.0.2
django-mdeditor==0.1.18
django-uuslug==1.2.0
docopt==0.6.2
elasticsearch==7.11.0
elasticsearch-dsl==7.3.0
entrypoints==0.3
flatbuffers==1.12
gast==0.4.0
gevent==21.1.2
gitdb==4.0.7
GitPython==3.1.18
google-analytics==0.0.0
google-api-python-client==1.4.2
google-auth==1.34.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
googleanalytics==0.26.0
greenlet==0.4.17
grpcio==1.34.1
gunicorn==20.1.0
h5py==3.1.0
httplib2==0.19.1
idna==2.10
importlib-metadata==3.7.0
inspect-it==0.3.2
ipaddress==1.0.23
ipykernel==6.1.0
ipython==7.26.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
iso8601==0.1.16
isort==5.7.0
jedi==0.18.0
jieba==0.42.1
Jinja2==3.0.1
joblib==1.0.1
jsonify==0.5
jsonpickle==2.0.0
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
keras==2.6.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring==5.3
lazy-object-proxy==1.5.2
Markdown==3.3.4
markdown2==2.4.0
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.8.0
mysqlclient==2.0.3
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
nltk==3.6.2
notebook==6.4.3
num2words==0.5.10
numpy==1.19.2
oauth2client==1.5.2
oauthlib==3.1.1
opt-einsum==3.3.0
packaging==21.0
pandas==1.2.4
pandocfilters==1.4.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.1
prettytable==2.1.0
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.17.3
psycopg2-binary==2.9.1
ptyprocess==0.7.0
pyarrow==5.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydeck==0.6.2
Pygments==2.8.0
pylev==1.4.0
pylint==2.7.1
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.1
python-logstash==0.4.6
python-memcached==1.59
python-slugify==4.0.1
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.2.1
raven==6.10.0
rcssmin==1.0.6
regex==2021.8.3
requests==2.24.0
requests-oauthlib==1.3.0
rjsmin==1.1.0
rsa==4.7.2
selenium==3.141.0
Send2Trash==1.8.0
six==1.15.0
smmap==4.0.0
snakify==1.1.1
sob==1.13.0
sqlparse==0.4.1
streamlit==0.86.0
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-cpu==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
terminado==0.11.0
testpath==0.5.0
text-unidecode==1.3
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.62.1
traitlets==5.0.5
typing-extensions==3.7.4.3
tzlocal==3.0
unicode-slugify==0.1.3
Unidecode==1.2.0
uritemplate==3.0.1
urllib3==1.25.11
validators==0.18.2
watchdog==2.1.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
WeRoBot==1.13.1
whitenoise==5.3.0
Whoosh==2.7.4
widgetsnbextension==3.5.1
wrapt==1.12.1
xmltodict==0.12.0
zipp==3.5.0
zope.event==4.5.0
zope.interface==5.4.0
