django
django-mdeditor
google-analytics
googleanalytics
django-haystack
django-compressor
psycopg2-binary
django-uuslug
mistune
pygments
requests
whoosh
jieba
whitenoise
elasticsearch
elasticsearch-dsl
gunicorn
django-heroku
dj-database-url
psycopg2
